img {
    border-radius: 35px;
}

body {
    color: white;
    background-image: url("assets/goldengate.webp");
    background-size: cover;
}

body {
    font-family: Helvetica, "Noto Sans", sans-serif;
}

input {
    border-radius: 10px;
}

* {
    box-sizing: border-box;
    padding: 2px;
}

.page-wrap {
    padding: 8px;
    /* padding around all elements together */
    box-sizing: border-box;
    position: absolute;
    top: 15%;
    left: 15%;
    border: solid;
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(10px);
    resize: both;
    overflow: auto;
}

.top-bar {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    font-family: Helvetica, "Noto Sans", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

.top-bar> :last-child {
    margin-left: auto;
}

#musicToggle {
    margin-left: auto;
}

.top-bar>* {
    margin: 0;
}

#time {
    color: white;
}

h1 {
    margin: 2px;
    color: white;
}

/* Utility to hide app shells by default */
.hidden {
    display: none;
}

.header {
    display: flex;

}

.header> :last-child {
    margin-left: auto;
    height: 16px;
    width: 16px;
}

audio {
    width: 52px;
}